@use '../../styles/styles' as *;

.firstLevelList {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0;

  list-style: none;

  li {
    align-self: center;
    justify-self: center;
  }
}

.firstLevel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  align-items: center;
  align-self: center;
  justify-self: center;
  padding: 3px;

  font-weight: 500;

  font-size: 18px;
  line-height: 1.5;

  background: linear-gradient(to bottom, rgb(138 43 226 / 1%), rgb(138 43 226 / 15%));

  border-bottom: 1px solid blueviolet;
  border-radius: 10px;

  &:hover,
  span:hover {
    color: $primary;
  }
}

.firstLevelActive {
  color: $primary;
}

.firstLevelActive svg,
.firstLevel:hover svg {
  fill: $primary;
}
